name: Boosty Crawler

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run-crawler:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download state
        uses: actions/download-artifact@v4
        with:
          name: crawler-state
        continue-on-error: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run crawler
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
        run: python boosty.py

      - name: Upload state
        uses: actions/upload-artifact@v4
        with:
          name: crawler-state
          path: |
            subscribers.json
            last_sent.json
